form {
  position: absolute;
  width: 600px;
  background-color: #1d1d1d;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
  box-shadow: 4px 4px 10px 0px #000;
  
  h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

    &:focus {
      width: 280px;
    }

    &.invalid {
      border: 2px solid #db3434;

      &.shake {
        animation: shake 0.2s ease-in-out 0s 2;
      }
    }
  }

  button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      background: #2ecc71;
    }
  }

}

@keyframes shake {
  0% { margin-right: 30%; }
  25% { margin-right: 35%; }
  75% { margin-right: 30%; }
  100% { margin-right: 35%; }
}
