<div>
  Usuário logado
  <button (click)="logout()">Logout</button>
</div>

<table border="1">
  <thead>
    <th>Nome</th>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.nome}}</td>
    </tr>
  </tbody>
</table>

<div class="teste-container">
  <ng-container #container></ng-container>
</div>

<ng-container *ngTemplateOutlet="template; context: {$implicit: 'Hello World2', color: 'red'}"></ng-container>

<div *ngIf="templateAtual" class="template-atual">
  <button (click)="trocaTemplate()">Trocar template</button>
  <ng-container [ngTemplateOutlet]="templateAtual" [ngTemplateOutletContext]="{$implicit: 'Hello World3'}">
  </ng-container>
</div>

<ng-template #template let-elem let-cor="color">
  <div [ngStyle]="{'color': cor}">
    {{elem}}
  </div>
</ng-template>

<ng-template #template2 let-variavel>
  <div style="background-color: yellow;">
    {{variavel}}
  </div>
</ng-template>

<div [ngSwitch]="1">
  <div *ngSwitchCase="1">1</div>
  <div *ngSwitchCase="2">2</div>
  <div *ngSwitchDefault>default</div>
</div>

<ng-template #templ>
  <button>Olá</button>
</ng-template>

<app-teste [myTemplate]="templ"></app-teste>

<!------------------------------->

<ng-template #templComCliente>
  {{clientes[0].nome}}

  <button (click)="carregaClientes()"></button>
</ng-template>

<ng-template #templSemCliente>
  Carregando clientes...
</ng-template>

<div *ngIf="clientes then templComCliente else templSemCliente"></div>
